<p>Following words should be hidden <del> CANNOT BE SEEN </del> right ?</p>
<p>But the next 3 words always be visible <mark>NEVER HIDDEN WORDS</mark>. Even if some words of that long line are being hidden (which should be the case but the random cannot let us be 100% sure it will occurs).</p>
<p><del> CANNOT BE SEEN </del><mark>NEVER HIDDEN WORDS</mark>.<del> CANNOT BE SEEN </del></p>
<p><del> CANNOT BE SEEN </del><mark>NEVER HIDDEN WORDS</mark>.<del> CANNOT BE SEEN </del></p>
<p><del> CANNOT BE SEEN </del><mark>NEVER HIDDEN WORDS</mark>.<del> CANNOT BE SEEN </del></p>
<p><del> CANNOT BE SEEN </del><mark>NEVER HIDDEN WORDS</mark>.<del> CANNOT BE SEEN </del></p>